/*--------------------------------------------------------------
Forms
--------------------------------------------------------------*/
.dt-input,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
select {
  display: block;
  //float: left;
  border: 1px solid #CCCCCC;
  border-radius: 3px 3px 3px 3px;
  background: #fff;
  padding: 5px;
  margin-right: 7px;
  width: 100%;
  height: 35px;
  line-height: 35px;
  color: $body-color;
  &:focus {
    outline: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  .fl-field &{ // fix for beaver builder widget inputs inline
    float: none;
  }
}
select {
  width: auto;
  max-width: 100%;
}
.dt-textarea,
textarea {
  border: 1px solid #CCCCCC;
  border-radius: 3px 3px 3px 3px;
  background: #fff;
  color: $body-color;
  &:focus {
    outline: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
}
.customize_filter-in,
.post-password-form {
  input[type="text"],
  input[type="password"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="date"],
  input[type="month"],
  input[type="time"],
  input[type="week"],
  input[type="number"],
  input[type="email"],
  input[type="url"],
  input[type="search"],
  input[type="tel"],
  input[type="color"],
  select {
    width: auto;
    line-height: normal;
  }
}
.post-password-form {
  input[type="password"] {
    display: inline-block;
    float: none
  }
}
