.woo-container {
  .content-box.content-single {
    #respond {
      box-shadow: none;
    }
  }
}
.woocommerce div.product .product_title {
  margin-top: 0;
  margin-bottom: 20px;
  padding-bottom: 12px;
  font-size: 18px;
}